**Functions**

In [ ]:
#syntax
#def <fun name> (<list of arguments>):
#<statement>

In [9]:
#eg:

def display():     #fun definition
  print("="*44)
  print("Trinity College of Engineering and Research")
  print("="*44);

In [10]:
display()    #fun call

============================================
Trinity College of Engineering and Research
============================================

In [26]:
#fun for adding two elements

def add( x , y):
  return x + y

a=5
b=3
result = add( a , b)
print(result)

8

**Default arguments**

In [27]:
#fun for default arguments

def add( x , y=2):
  return x + y

a=5
b=3
result = add( a )
print(result)

7

In [28]:
def add( x , y=2, z=10):  
  return x + y + z

a=5
b=3
result = add(x, 7, 8 )
print(result)

20

In [34]:
def add( x , y=2, z=10, a=9):  #right to left if right most variable not given values
  return x + y + z

a=5
b=3
#result = add()
result = add(x)
result = add(x,y)
result = add(x,y,23)
result = add(x,y,10,20)
print(result)

18

**Keyword Arguments**

In [135]:
#last arguments can be given as keywords

def parrot(voltage, state='a stiff', action='voom', type='Norwegian blue'):
  print("-- This parrot wouldn't", action)
  print("If you put", voltage, "Volts through it.")
  print("Lovely plumage, the ", type)
  print("-- It's", state, "!")

parrot(1000)
parrot(action="VOOOM",voltage=100000)

-- This parrot wouldn't voom
If you put 1000 Volts through it.
Lovely plumage, the  Norwegian blue
-- It's a stiff !
-- This parrot wouldn't VOOOM
If you put 100000 Volts through it.
Lovely plumage, the  Norwegian blue
-- It's a stiff !

**Lambda Forms**

In [35]:
def make_increment(n):
  return lambda x: x + n
  f = make_increment(42)
  f(0)
  f(1)

**WAP to perform arithmrntic operations using function**

In [42]:
def add(a,b):
   sum = a + b
   return sum
num1 = 5
num2 = 3
addition = add(a,b)
print(addition)

def sub(a,b):
   s = a - b
   return s
num1 = 5
num2 = 3
subt = sub(a,b)
print(subt)

def mul(a,b):
   m = a * b
   return m
num1 = 5
num2 = 3
multiplication = mul(a,b)
print(multiplication)

def div(a,b):
   d = a / b
   return d
num1 = 5
num2 = 3
division = div(a,b)
print(division)

8
2
15
1.6666666666666667

**WAP to display list element by function**

In [48]:
def display_list(lst):
  for i in lst:
      print(i)
pass
lst=[1,2,3,4,5,6,7]
display_list(lst)

1
2
3
4
5
6
7

**WAP to form list of all odd numbers from other list using filter function**

In [54]:
def odd_list(lst):
  pass
lis1 = [1,2,3,4,5] 
is_odd = lambda x: x % 2 != 0
lis2 = list(filter(is_odd, lis1)) 
print(lis2)

[1, 3, 5]

**Variable**

In [57]:
x=10;
def fun():
  print(x)

In [58]:
fun()

10

In [67]:
x=10;
def fun():
  #print(x)
  x=12
  print(x);
  def fun1():
    print('Hello')
  fun1();

fun();
print(x)

12
Hello
10

In [80]:
def outer():
  x = "local"
  def inner():
    nonlocal x
    x = "nonlocal"
    print(x)
  print("inner:",x)
  inner()
 
print("outer:",x)
outer()

outer: 10
inner: local
nonlocal

**WAP to find factorial of a given number using recursion**

In [82]:
def recur_fact(n):
   if n == 1:
       return n
   else:
       return n*recur_fact(n-1)
num = 5
if num == 0:
   print("The factorial of 0 is 1")
else:
   print("The factorial of", num, "is", recur_fact(num))

The factorial of 5 is 120

**WAP to multiply two numbers using recursion**

In [83]:
def mul( x , y ):  
    if x < y: 
        return mul(y, x) 
    elif y != 0: 
        return (x + mul(x, y - 1)) 
    else: 
        return 0
  
x = 2
y = 6
print( mul(x, y))

12

**WAP to print list element in reverse using recursion**

In [86]:
def Reverse(lst):
    if not lst: 
        return lst
    return lst[-1:] + Reverse(lst[:-1])
print(Reverse([1,2,3,4,5,6,7]))

[7, 6, 5, 4, 3, 2, 1]

**Classes/Objects**

In [89]:
#syntax

#class <class name>
#<statement-1>
#.
#.
#.
#<statement-N>

class ABC:
  def display(self):
   print("Hello") 
 
a=ABC()
a.display();

Hello

**Classes with constructor**

In [93]:
class ABC:
  def __init__(self,n):   #constructor
    self.x=n;             #data member 
    print("Constructor called")
    pass
  def display(self):     #member fun
   print("Hello",self.x) 
 
a=ABC(5)
a.display();

Constructor called
Hello 5

**WAP to create a class student and display the details**

In [124]:
class Student:
	def __init__(self, r, n, c):
		self.rollno = r
		self.name = n
		self.s_class = c
	def display(self):
		print("SName: ",self.name)
		print(" Roll Number: ",self.rollno)
		print(" Class: ",self.s_class)

d = Student(67, 'Ruwaida', 'TY')
d.display()

SName:  Ruwaida
 Roll Number:  67
 Class:  TY

In [125]:
class student:
    def __init__(self , r , n , c):
            self.rollno = r;
            self.name = n;
            self.sclass = c;
            
    def display(self):
        print("Sname: ",self.name)
        print("Roll no:",self.rollno)
        print("Class:",self.sclass)
    
    def __repr__(self):
        return "Student information: " +str(self.rollno) + " " +self.name+ " " +self.sclass;
s = student(67,'Ruwaida', 'TY')
a = student(67,'Ruwaida', 'TY')
print(s)
print(a)

Student information: 67 Ruwaida TY
Student information: 67 Ruwaida TY

In [130]:
class MyComplex:
  def __init__(self,r,i):
    self.real=r;
    self.img=i;
  def __add__(self,other):
    return MyComplex(self.real + other.real,self.img + other.img)
  def __str__(self):
    return "MyComplex object data values:"+ str(self.real)+ " + "+str(self.img)+ " j ";

a=MyComplex(4,5)
b=MyComplex(5,4)

c=a+b;
print(a)
print(b)
print(c)

MyComplex object data values:4 + 5 j
MyComplex object data values:5 + 4 j
MyComplex object data values:9 + 9 j